@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 40px;
}

h1 {
    font-size: 60px;
}

.easy-start .liquid-container {
    border: 1px solid black;
}

button {
    border-radius: 4px;
    background-color: #ffe69b;
    border: 1px solid #e6ce85;
    color: #693169;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    transition: transform, background-color;
    transition-duration: 250ms;
    font-size: 20px;
}
button:hover {
    transform: scale(1.05);
    background-color: darken(#ffe69b, 15%);
}

.easy-if .liquid-container {
    border: 1px solid black;
}

.local-rules .liquid-container {
    border: 1px solid black;
}


.tagless-alone .outer {
    display: flex;
    color: white;
}

.tagless-alone .left {
    min-height: 4em;
    flex: 1;
    background-color: #36926d;
}

.tagless-alone .liquid-child {
    background-color: #92368a;
}

input[type=text] {
    border-radius: 4px;
    border: 1px solid #e6ce85;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    font-size: 20px;
}

.better-lists {
    position: relative;
}
