<h2>Deep Route Matching</h2>
{{code-snippet name="deep-outlet.hbs"}}
{{code-snippet name="deep-outlet.js"}}

<h3>The outlet sees <code>people</code> or <code>messages</code></h3>
<h3>A <i>child</i> outlet inside <code>messages.hbs</code> eventually sees <code>messages.new</code></h3>