<div class="easy-start">
  {{!- BEGIN-SNIPPET easy-start  }}
  {{#link-to "easy-start.index"}}Index{{/link-to}}
  {{#link-to "easy-start.detail"}}Detail{{/link-to}}
  {{liquid-outlet}}
  {{!- END-SNIPPET }}
  {{code-snippet name="easy-start.hbs"}}
  {{code-snippet name="easy-start.js"}}
</div>