<div class="easy-if">
  {{!- BEGIN-SNIPPET easy-if  }}
  <button {{action "toggleActivated"}}>Toggle</button>
  {{#liquid-if activated use="fade"}}
    <h1>Activated!</h1>
  {{else}}
    <div>Not activated</div>
  {{/liquid-if}}
  {{!- END-SNIPPET }}
  {{code-snippet name="easy-if.hbs"}}
</div>