<h2>Interruption</h2>

<h3>Stop everything if you navigate away: fully automatic thanks to EC.</h3>

<h3>Motions can find other running motions and cooperate with them. Momentum preservation, physical constraint systems.</h3>

<h3>Default motion implementation cancels other motions on same element.</h3>