<h2>Shipping</h2>

<p>All the code I ran is available in the <code>experimental</code> branch of liquid-fire.</p>

<p>Will ship for real as <code>ember-animated</code>.</p>
<p><code>liquid-fire</code> is not going anywhere, it is a higher layer that will depnd on <code>ember-animated</code>.</p>

<p>This presentation is https://github.com/ef4/emberfest</p>
