<h2>Shipping</h2>

<p>All the code I ran is available in the <code>experimental</code> branch of liquid-fire.</p>

<p>This presentation is https://github.com/ef4/emberfest</p>

<p>Not ready for release yet, but coming along well.</p>
<p>May eventually ship just the new smaller core as <code>ember-animated</code></p>
<p><code>liquid-fire</code> is not going anywhere, it is a higher layer that will depend on <code>ember-animated</code>.</p>
